// The-Human-Tech-Blog-React/src/features/admin/styles/ModerationCommentsPage.scss

.moderation-page {
  padding: 2rem;

  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #22223b;
  }
}
