/* The-Human-Tech-Blog-React/src/components/admin/Sidebar.scss */
.admin-sidebar {
  width: 500px;
  background: var(--bg);
  padding: var(--padding-base);
  border-right: 1px solid #eee;

  &-Navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--gap-small);

    &-link {
      color: var(--textColor);
      padding: var(--padding-small);
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: var(--primaryColor);
      }

      &.active {
        font-weight: bold;
        color: var(--primaryColor);
      }
    }
  }
}
