/* The-Human-Tech-Blog-React/src/features/layout/styles/Layout.scss */

/**
 * Layout container for the application.
 * Applies global background, text color, and handles flex column for header, content, and footer.
 * Inherits color and background from theme variables (see global.scss).
 */

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;

  // Main content area
  &__main {
    flex: 1 0 auto;
    padding: 2rem 0;
    width: 100%;
    max-width: var(--layout-max-width);
    margin: 10% auto;
    padding-left: var(--layout-padding-x);
    padding-right: var(--layout-padding-x);

    @media (max-width: 1024px) {
      padding-left: var(--layout-padding-x);
      padding-right: var(--layout-padding-x);
    }
    @media (max-width: 640px) {
      padding-left: var(--layout-padding-x);
      padding-right: var(--layout-padding-x);
    }
  }
}
