// The-Human-Tech-Blog-React/src/features/post/styles/Card.scss

.cardPost {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 25rem;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

  // Efeito hover: imagem sobe 5rem
  &:hover .cardPost__imageSection {
    transform: translateY(-5rem);
    transition: transform 0.4s cubic-bezier(0.4, 0.2, 0.2, 1);
  }

  .cardPost__imageSection {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 11rem;
    width: 100%;
    z-index: 10;
    transition: transform 0.4s cubic-bezier(0.4, 0.2, 0.2, 1);

    .cardPost__image {
      border-radius: 12px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    .cardPost__category {
      position: absolute;
      top: 0.7rem;
      left: 1rem;
      color: var(--colorText);
      font-size: 0.8rem;
      z-index: 2;
    }
    .cardPost__bookmark {
      position: absolute;
      top: 0.7rem;
      right: 1rem;
      z-index: 2;
    }
    .cardPost__title {
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      z-index: 2;
      h3 {
        margin: 0;
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 8px;
        padding: 0.4rem 1.1rem;
        font-size: 1.16rem;
        text-shadow: 0 2px 7px rgba(0, 0, 0, 0.16);
      }
    }
  }

  &__descriptionSection {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem 0.1rem 0.1rem 0.1rem;
    z-index: 9;

    .cardPost__description {
      color: var(--textColor);
      font-size: 0.8rem;
      margin: 0 0 0.8rem 0;
      line-height: 1.44;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 4.2rem;
    }

    .cardPost__viewMore {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      color: var(--textColor);
      font-weight: 200;
      text-decoration: none;
      font-size: 1.05rem;
      margin-top: auto;
      background: none;
      border: none;

      cursor: pointer;
      transition: color 0.16s;
      &:hover {
        color: #004eaa;
        text-decoration: none;
      }
    }
  }
}
