/* The-Human-Tech-Blog-React/src/features/category/styles/CategoryPage.scss */

.category-page {
  padding: 2rem;
  max-width: 1024px;
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem; /* Adicionado um pouco de espaço abaixo do cabeçalho */
  }

  &__logo {
    height: 40px;
    margin-right: 12px;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 0; /* Removido margin-bottom para alinhar com logo */
    color: var(--text-color);
  }

  &__description {
    font-size: 1.1rem;
    color: var(--text-color-secondary); // Ou uma cor apropriada
    margin-top: 0.5rem; // Espaço acima da descrição, se ela aparecer abaixo do título
  }

  &__loading,
  &__no-posts {
    font-style: italic;
    color: #777;
    margin-top: 2rem;
  }

  &__back-link {
    display: flex; // Changed to flex for centering content easily
    justify-content: center; // Centers text horizontally
    align-items: center; // Centers text vertically
    width: 20rem;
    min-width: 48px;
    min-height: 48px;
    padding: 0 1.5rem;
    font-size: 1.15rem;
    border: 2px solid #2995e2;
    border-left: none;
    border-right: none;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 48, 104, 0.08);
    backdrop-filter: blur(2.5px);
    transition: border 0.2s, box-shadow 0.2s, background 0.25s;
    margin: var(--margin-xl) auto 0; // Center the link and add top margin
    text-decoration: none; // Remove default link underline
    color: inherit; // Ensure text color is inherited or set explicitly

    &:hover {
      background: rgba(0, 48, 104, 0.388);
    }
    &:active {
      background: none !important;
    }
  }
}
