/* src/features/post/styles/QuickPostCard.scss */

.quick-post-card {
  position: relative;
  height: 400px;
  overflow: hidden;
  background: var(--background-secondary);
  border: 1px solid #1da1f2;
  border-radius: 18px;
  box-shadow: var(--neon-border-shadow);
  cursor: pointer;

  &:hover {
    transform: translateY(-3px) scale(1.01);
  }

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__image {
    height: 80%;
    object-fit: cover;
    aspect-ratio: 9 / 12;
  }

  &__title {
    font-size: var(--font-size-sm);
    font-weight: 600;
    margin-bottom: var(--margin-xxs);
  }

  &__meta {
    font-size: var(--font-size-xs);
    opacity: 0.85;
  }
}

@media (max-width: 768px) {
  .quick-post-card {
    height: 300px;

    &__image {
      height: 102%;
    }

    &__content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 1rem;
    }
  }
}
