/* src/features/post/styles/QuickPostCard.scss */

.quick-post-card {
  position: relative;
  height: 420px;
  overflow: hidden;
  background: var(--background-secondary);
  border: 1px solid #1da1f2;
  border-radius: 18px;
  box-shadow: var(--neon-border-shadow);
  cursor: pointer;

  &:hover {
    transform: translateY(-3px) scale(1.01);
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__image {
    height: 74%;
    object-fit: cover;
    aspect-ratio: 9 / 12;
  }
  &__content {
    padding: 0 var(--padding-sm);
  }
  &__title {
    font-size: var(--font-size-sm);
    font-weight: 600;
    margin-bottom: var(--margin-2xs);
  }

  &__description {
    max-width: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color-fixed);
  }

  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary);
  }
}
@media (max-width: 768px) {
  .quick-post-card {
    height: 300px;

    &__image {
      height: 102%;
    }

    &__content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 1rem;
    }
    &__title {
      background: #ffffff1c;
      border-radius: 4px;
      color: var(--text-color-fixed);
    }
  }
}
