// src/features/newsletter/styles/NewsletterForm.scss

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  margin-top: var(--spacing-md);
  min-height: 5rem;

  &__input {
    flex: 1;
    padding: var(--padding-sm) var(--padding-base);
    border-radius: var(--border-radius-md);
    border: 1.5px solid #ccc;
    font-size: var(--font-size-base);
    color: var(--text-color);
    background: var(--background-tertiary);
    transition: border 0.2s, background 0.2s;

    &::placeholder {
      color: var(--text-color-placeholder);
      opacity: 1;
      font-size: var(--font-size-sm);
      letter-spacing: var(--letter-spacing-small);
    }

    &:focus {
      border: 1.5px solid var(--primary);
      outline: none;
      background: var(--background);
    }
    &:disabled {
      background: var(--background-secondary);
      color: var(--text-color-secondary);
      opacity: 0.7;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    height: 2rem;
    gap: var(--gap-xs);
    padding: 0.45rem 1.3rem 0.45rem 0.95rem;
    font-size: var(--font-size-sm);
    font-weight: 500;
    border: 2px solid #2995e2; // azul claro (ajusta se tua paleta for diferente)
    border-left: none;
    border-right: none;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 48, 104, 0.08);
    backdrop-filter: blur(2.5px); // Glass effect!
    transition: border 0.2s, box-shadow 0.2s, background 0.25s;
    outline: none;
    text-decoration: none;
    color: inherit;

    cursor: pointer;

    &:hover,
    &:focus {
      background: rgba(0, 48, 104, 0.388);
    }
    &:active {
      background: none !important;
    }
  }

  @media (max-width: 640px) {
    flex-direction: column;
    gap: var(--gap-xs);

    &__button {
      width: 100%;
    }
  }
}
