/* src/features/about/styles/AboutPage.scss */

.aboutPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  & > *:not(:last-child) {
    margin-bottom: 10%; // 👈 Espaçamento fixo entre componentes
  }
}
