/* src\features\chat\styles\ChatPage.scss */

.chat-page {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background: var(--background-secondary);

  @media (max-width: 700px) {
    flex-direction: column; // Sidebar ocupa a tela toda em mobile
    > .chat-window {
      display: none;
    }
  }
}
