// /src/features/chat/styles/ChatWindow.scss

.chat-window {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  background: var(--background);
  min-width: 0;
  height: 100vh;
  border-radius: 0 24px 24px 0;
  box-shadow: 0 8px 36px 0 rgba(23, 34, 74, 0.18);
  position: relative;

  &--empty {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: var(--background-secondary);
    border-radius: 0 24px 24px 0;
    & .chat-window__empty-icon {
      margin-bottom: 1.5rem;
      opacity: 0.44;
    }
    & .chat-window__empty-title {
      color: var(--primary);
      font-weight: 700;
      font-size: var(--heading-h4);
      margin-bottom: 0.6em;
    }
    & .chat-window__empty-desc {
      color: #adb9cb;
      font-size: var(--font-size-md);
      max-width: 22em;
      text-align: center;
    }
  }
}

// Responsive
@media (max-width: 900px) {
  .chat-window,
  .chat-window--empty {
    min-width: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
  }
}
