/* The-Human-Tech-Blog-React/src/components/auth/RegisterModal.scss */

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: var(--bg);
  color: var(--textColor);
  padding: var(--padding-2m);
  border-radius: 8px;
  width: 90%;
  max-width: 400px;

  &__close {
    background: none;
    border: none;
    font-size: 1.5rem;
    float: right;
    cursor: pointer;
  }

  &__title {
    font-size: var(--font-size-2b);
    margin-bottom: var(--margin-base);
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-base);
  }

  &__input {
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid var(--secondaryTextColor);
  }

  &__submit {
    background-color: var(--primaryHover);
    color: white;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--successColor);
    }
  }

  &__error {
    color: red;
    font-size: var(--font-size-s);
    text-align: center;
  }
}

@media (max-width: 768px) {
  .modal {
    padding: var(--padding-base);
  }
}
